:root {
  --dark-purple: #990099;
  --white: #fff;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 1200px) {
  #navbar-container, #projects {
    width: 1200px;
    margin: 0 auto;
  }
}

/***** navigation *****/

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  background-color: var(--dark-purple);
  font-weight: bold;
  text-transform: uppercase;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  display: inline-block;
  padding-right: 30px;
}

#navbar ul li a {
  color: var(--white);
  text-decoration: none;
}

/***** welcome section *****/

#welcome-section {
  height: 100vh;
  width: 100%;
  margin: auto;
  background: url("../img/landing.jpg") no-repeat top center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-content {
  background-color: var(--dark-purple);
  color: var(--white);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  text-align: center;
  animation: animate 2s 1;
  transition: all 250ms ease;
}

#welcome-content h1 {
  text-transform: uppercase;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/***** projects section *****/

#projects {
  text-align: center;
  color: var(--dark-purple);
  margin-bottom: 50px;
}

#projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-tile {
  margin-left: 50px;
  margin-right: 50px;
}

.project-tile a img:hover {
  transition: all 250ms ease;
  transform: scale(1.2);
}

/***** contact section *****/

#contact {
  text-align: center;
  font-weight: bold;
  background-color: var(--dark-purple);
  color: var(--white);
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  font-size: 3em;
  color: var(--white);
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.social:hover {
  transition: all 250ms ease;
  transform: scale(1.5);
}